<body>
<div id="page-container">
  <div id="search-container">
    <input type="text" id="search-box" placeholder="Buscar topico o categoria">
    <button id="search-button">Buscar</button>
  </div>

  <div id="info-container">
    <div id="inner-container">
      <h2>¿Qué deseas conocer?</h2>
      <button id="ask-button">Haz una pregunta</button>
    </div>

    <!-- Contenido subido por los usuarios -->
    <div id="usuarios-publicaciones">
      <div id="user-info">
        <div id="user-icon">
          <img src="/assets/images/user.jpg" alt="Icono de usuario">
        </div>
        <div id="user-details">
          <p>Usuario hace tantos minutos</p>
        </div>
      </div>
      <button id="responder-button">Responder</button>
    </div>

  </div>


</div>
</body>
